<div class="container-fluid">


    <div class="p-3 mb-3 bg-white box-shadow">
        <h5 class="my-0 mr-md-auto mb-3 font-weight-normal">New Project</h5>
        <%= link_to 'Back', projects_path, :class => "btn btn-dark" %>
    </div>
    
    

    <%= render 'form', project: @project %>
</div> 
